# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore Node.js modules
node_modules/

# Ignore environment variables file
.env

# Ignore build artifacts
build/
dist/

#Ignore token files
data/tokens